*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}
body{
    box-sizing: border-box !important;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: linear-gradient(rgba(27, 27, 27, 0.479), rgba(27, 27, 27, 0.479)), url(./pexels-marek-piwnicki-3907296-17835311.jpg) center center no-repeat; */
    background-size: cover;
    color: white;
}
video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.parent::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(27, 27, 27, 0.479), rgba(27, 27, 27, 0.479));
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.parent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    position: relative;
}
.first-child{
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}
.date{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.line{
    width: 20px;
    height: 5px;
    display: block;
    background-color: white;
}
.weatherValue{
    font-size: 5em;
}
.weatherDetails{
    display: flex;
    flex-direction: column;
    gap: 0;
}
.weatherDetails h1{
    line-height: 1em;
}
.inputContainer{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}
.inputContainer input{
    width: 90%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    outline: none;
}
.second-child{
    z-index: 10000;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to top,rgba(0, 0, 128, 0.8), rgba(0, 0, 128, 0));
    padding: 20px 5%;
    filter: drop-shadow(1);
    backdrop-filter: blur(4px);
}
.forecast{
    display: flex;
    gap: 1.3em;
    font-size: 1em;
    align-items: center;
}
.forecast div{
    text-align: center;
    font-size: 400;
}
#weatherMain{
    font-size: 3em;
}
#weatherDesc p{
    color: rgb(192, 192, 252);
}
.middle-child{
    z-index: 10000;
    align-self: center;
}
.middle-child img{
    width: 200px;
    z-index: 10000;
}



.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 2px solid white;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: white;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: white;
    /* border-radius: 50%; */
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
    border: none;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px white;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }



.loader {
  border: 6px solid #f3f3f3;        /* Light gray */
  border-top: 6px solid #3498db;     /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: -100px;
  left: 50%;
  z-index: 1000;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loaderShow{
  top: 15px !important;
  transition: all 0.3s ease-in-out;
}


@media screen and (max-width: 500px) {
  body{
    overflow-y: visible;
    /* height: 100% !important; */
  }
  .parent{
    height: 100%;
  }
  .inputContainer{
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    padding: 5%;
    align-items: center;
  }
  .inputContainer input{
      width: 100%;
      padding: 15px;
      border: none;
      border-radius: 4px;
      outline: none;
  } 
  .animated-button{
    width: 50%;
  }
  .weatherValue{
    font-size: 3em;
  }
  .weatherDetails h1{
      line-height: 1em;
  }
  .date{
    font-size: 1em;
    gap: 0.2em;
  }
  .second-child{
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1em;
    background: linear-gradient(to top,rgba(0, 0, 128, 0.8), rgba(0, 0, 128, 0.5));

  }
  .forecast{
      display: flex;
      flex-direction: column;
      gap: 1.3em;
      font-size: 1em;
      align-items: center;
  }
  .forecast div{
      text-align: center;
      font-size: 400;
  }
  #weatherMain{
      font-size: 3em;
  }
  #weatherDesc{
    text-align: center;
  }
}

  